{% extends 'base.html' %}

{% block content %}
    <h1>{{ model.meta.verbose_name_plural }}</h1>
    <table>
        <thead>
            <tr>
                {% for field in model.meta.fields %}
                    <th>{{ field.verbose_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field in model.meta.fields %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}